{% extends '../base.html' %}

{% load static %}

{% block main %}
    <!-- END nav -->
    <section class="ftco-section contact-section register">
        <div class="container">
            <div class="row block-9 justify-content-center">
                <div class="col-md-6 order-md-last d-flex">
                    <form action="" class="bg-light p-5 contact-form" method="post" id="my-form">
                       {% for key, value in  forms.errors.items %}
                        <div class="alert alert-danger" role="alert">
                            {{ value }}
                        </div>
                       {% endfor %}
                        {% csrf_token %}
                        <a class="navbar-brand center" href="#">Stories<span>.</span></a>
                        {% for i in forms %}
                            <div class="form-group">
                                <!-- <input type="text" class="form-control" placeholder="First name"> -->
                                {{ i }}
                                {{ i.errors }}
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <input type="button" value="Register" class="btn btn-primary py-3 px-5" onclick="send()">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        function send(){
            let token = document.getElementById('my-form').elements[0].value;
            let user = {username:'hikmet', email:'hikmet@gmail.com', password:'muxtar1234'}

            fetch('http://127.0.0.1:8000/accounts/api/register/', {
                method:'POST',
                headers:{
                    'Content-type':'application/json',
                    'X-CSRFToken':token
                    },
                body: JSON.stringify(user)
            }).then(data => data.json()).then(data => console.log(data))
        }

    </script>
{% endblock %}